
/*css */

body{
    background-color: red;
}

    .btn{
        background-color:whitesmoke;
    }
    .letter-border{
        -webkit-text-stroke: 2px whitesmoke;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }
    .card{
        box-shadow: 5px 5px 4px #888888;
        border-radius: 5px;
    }
    .card-cont{
        display: flex;
    
    }
    .banner{
        width: 100%;
        margin-top: 20px;
    }
    @media (max-width:800px){
        .card-cont{
            display: inline-block !important;
            width: 80%;
        }
    }